.imagegallery {
    margin-top: 2rem;
    text-align: center;
}

.imagegallery > div {
    columns: 5;
    gap: 1.25rem;
    padding-top: 1.25rem;
}
.imagegallery img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}

@media (max-width:48rem) {
    .imagegallery {
        margin-top: 1.5rem;
        text-align: center;
    }
    
    .imagegallery > div {
        columns: 3;
        gap: 1rem;
        padding-top: 1rem;
    }
    .imagegallery img {
        display: block;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 1rem;
    }
}

@media (max-width:32rem) {
    .imagegallery {
        margin-top: 1rem;
        text-align: center;
    }
    
    .imagegallery > div {
        columns: 2;
        gap: 0.5rem;
        padding-top: 0.5rem;
    }
    .imagegallery img {
        display: block;
        width: 100%;
        border-radius: 2px;
        margin-bottom: 0.5rem;
    }
}

.imagepopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  border-radius: 5px;
  padding: 20px;
  z-index: 9999; /* Ensure it's on top of other elements */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
}

.imagepopup img {
  max-width: 90%;
  max-height: 90%;
}
